-# app/views/weeks/show.haml

%h1 Current Schedule

%div= link_to 'Go Back', administrator_session_path(@current_user)
%h2 Manager Schedule

%h4 Monday
%ul#details
  %li
    %b 12:00 AM - 8:00 AM: 
    #{@monday1M_name}
  %li
    %b 8:00 AM - 4:00 PM: 
    #{@monday2M_name}
  %li
    %b 4:00 PM - 12:00 AM: 
    #{@monday3M_name}
    
%h4 Tuesday
%ul#details
  %li
    %b 12:00 AM - 8:00 AM: 
    #{@tuesday1M_name}
  %li
    %b 8:00 AM - 4:00 PM: 
    #{@tuesday2M_name}
  %li
    %b 4:00 PM - 12:00 AM: 
    #{@tuesday3M_name}
    
%h4 Wednesday
%ul#details
  %li
    %b 12:00 AM - 8:00 AM: 
    #{@wednesday1M_name}
  %li
    %b 8:00 AM - 4:00 PM: 
    #{@wednesday2M_name}
  %li
    %b 4:00 PM - 12:00 AM: 
    #{@wednesday3M_name}
    
%h4 Thursday
%ul#details
  %li
    %b 12:00 AM - 8:00 AM: 
    #{@thursday1M_name}
  %li
    %b 8:00 AM - 4:00 PM: 
    #{@thursday2M_name}
  %li
    %b 4:00 PM - 12:00 AM: 
    #{@thursday3M_name}
    
%h4 Friday
%ul#details
  %li
    %b 12:00 AM - 8:00 AM: 
    #{@friday1M_name}
  %li
    %b 8:00 AM - 4:00 PM: 
    #{@friday2M_name}
  %li
    %b 4:00 PM - 12:00 AM: 
    #{@friday3M_name}
    
%h4 Saturday
%ul#details
  %li
    %b 12:00 AM - 8:00 AM: 
    #{@saturday1M_name}
  %li
    %b 8:00 AM - 4:00 PM: 
    #{@saturday2M_name}
  %li
    %b 4:00 PM - 12:00 AM: 
    #{@saturday3M_name}
    
%h4 Sunday
%ul#details
  %li
    %b 12:00 AM - 8:00 AM: 
    #{@sunday1M_name}
  %li
    %b 8:00 AM - 4:00 PM: 
    #{@sunday2M_name}
  %li
    %b 4:00 PM - 12:00 AM: 
    #{@sunday3M_name}
    
%hr

%h2 Employee Schedule

%h4 Monday
%ul#details
  %li
    %b 12:00 AM - 8:00 AM: 
    #{@monday1E_name}
  %li
    %b 8:00 AM - 4:00 PM: 
    #{@monday2E_name}
  %li
    %b 4:00 PM - 12:00 AM: 
    #{@monday3E_name}
    
%h4 Tuesday
%ul#details
  %li
    %b 12:00 AM - 8:00 AM: 
    #{@tuesday1E_name}
  %li
    %b 8:00 AM - 4:00 PM: 
    #{@tuesday2E_name}
  %li
    %b 4:00 PM - 12:00 AM: 
    #{@tuesday3E_name}
    
%h4 Wednesday
%ul#details
  %li
    %b 12:00 AM - 8:00 AM: 
    #{@wednesday1E_name}
  %li
    %b 8:00 AM - 4:00 PM: 
    #{@wednesday2E_name}
  %li
    %b 4:00 PM - 12:00 AM: 
    #{@wednesday3E_name}
    
%h4 Thursday
%ul#details
  %li
    %b 12:00 AM - 8:00 AM: 
    #{@thursday1E_name}
  %li
    %b 8:00 AM - 4:00 PM: 
    #{@thursday2E_name}
  %li
    %b 4:00 PM - 12:00 AM: 
    #{@thursday3E_name}
    
%h4 Friday
%ul#details
  %li
    %b 12:00 AM - 8:00 AM: 
    #{@friday1E_name}
  %li
    %b 8:00 AM - 4:00 PM: 
    #{@friday2E_name}
  %li
    %b 4:00 PM - 12:00 AM: 
    #{@friday3E_name}
    
%h4 Saturday
%ul#details
  %li
    %b 12:00 AM - 8:00 AM: 
    #{@saturday1E_name}
  %li
    %b 8:00 AM - 4:00 PM: 
    #{@saturday2E_name}
  %li
    %b 4:00 PM - 12:00 AM: 
    #{@saturday3E_name}
    
%h4 Sunday
%ul#details
  %li
    %b 12:00 AM - 8:00 AM: 
    #{@sunday1E_name}
  %li
    %b 8:00 AM - 4:00 PM: 
    #{@sunday2E_name}
  %li
    %b 4:00 PM - 12:00 AM: 
    #{@sunday3E_name}
    
%div= link_to 'Go Back', administrator_session_path(@current_user)