-# app/views/sessions/show_employee.html.haml

%h1 You are logged in as '#{@user.user_first_name} #{@user.user_last_name}'

%div= link_to 'Contact Information', employee_user_path
%div= link_to 'Add Availability', new_availability_path
%div= link_to 'View Availability', availability_path(@user)
%div= link_to 'View Schedule', week_path
%div= button_to 'Log Out', logout_path, :method => 'delete'