-# app/views/sessions/new.html.haml

%h1 Log In

= form_tag sessions_path, :method => 'post' do

  = label :session, :email, 'Email'
  = text_field :session, 'email'

  = label :session, :password, 'Password'
  = password_field :session, 'password'

  = submit_tag 'Log in'

-# will need to be removed to give admin sole authority to do this
= link_to 'Add new user', new_user_path