-# app/views/users/index_administrator.html.haml

%h1 All Employees

%table#users
  %thead
    %tr
      %th First Name
      %th Last Name
      %th E-mail
      %th Phone Number
      %th User ID
      %th Administrator Status
      %th User Priority
      %th More Info
      %th Availability
  %tbody
    - @users.each do |user|
      %tr
        %td= user.user_first_name
        %td= user.user_last_name
        %td= user.email
        %td= user.user_phone_number
        %td= user.user_id
        %td= user.user_administrator
        %td= user.user_priority
        %td= link_to "More about #{user.user_first_name}", user_path(user)
        -if user.user_administrator == false
          %td= link_to "#{user.user_first_name}'s availability", availability_path(user.user_id)

%div= link_to 'Create New Account', new_user_path
%div= link_to 'Main Menu', administrator_session_path
