-# app/views/users/index_employee.html.haml

%h1 Employee Contact Information

%table#users
  %thead
    %tr
      %th First Name
      %th Last Name
      %th E-mail
      %th Phone Number
  %tbody
    - @users.each do |user|
      %tr
        %td= user.user_first_name
        %td= user.user_last_name
        %td= user.email
        %td= user.user_phone_number

%div= link_to 'Main Menu', employee_session_path
