-# app/views/users/index.html.haml

%h1 All Users

%table#users
  %thead
    %tr
      %th User ID
      %th E-mail
      %th First Name
      %th Last Name
      %th Administrator Status
      %th User Priority
      %th Phone Number
      %th More Info
  %tbody
    - @users.each do |user|
      %tr
        %td= user.user_id 
        %td= user.email
        %td= user.user_first_name
        %td= user.user_last_name
        %td= user.user_administrator
        %td= user.user_priority
        %td= user.user_phone_number
        %td= link_to "More about #{user.user_id}", user_path(user)

= link_to 'Add new user', new_user_path

= link_to 'Return to Main Menu', login_path
