-# app/views/users/show.html.haml

%h1 Manage #{@user.user_first_name} #{@user.user_last_name}'s account
  
%ul#details
  %li
    %b User ID:
    = @user.user_id
  %li
    %b E-mail:
    = @user.email
  %li
    %b First Name:
    = @user.user_first_name
  %li
    %b Last Name:
    = @user.user_last_name
  %li
    %b Status:
    -if @user.user_administrator
      Administrator
    -else
      Employee
  %li
    %b Phone Number:
    = @user.user_phone_number

%div= link_to 'Edit', edit_user_path(@user)
%div= button_to 'Delete', user_path(@user), :method => :delete, :confirm => "Are you sure you want to permanantly delete #{@user.user_first_name} #{@user.user_last_name}'s account?, This cannot be undone."
%div= link_to 'Cancel', administrator_user_path(@current_user)
