-# app/views/availabilities/show.html.haml

%h1 #{@user.user_first_name} #{@user.user_last_name}'s availability

%div
  -if !(@current_user.user_administrator)
    = link_to 'Go back', employee_session_path(@current_user)
  -else
    = link_to 'Go back to All Employees', administrator_user_path(@current_user)
    
    
User ID:
%b #{@user.user_id}
    
%h3 Monday
%ul#details  
  %li
    -if @availability.monday_first
      12:00 AM - 8:00 AM:
      %b Available
    -else
      12:00 AM - 8:00 AM:
      %b NOT Available
  %li
    -if @availability.monday_second
      8:00 AM - 4:00 PM:
      %b Available
    -else
      8:00 AM - 4:00 PM:
      %b NOT Available
  %li
    -if @availability.monday_third
      4:00 PM - 12:00 AM:
      %b Available
    -else
      4:00 PM - 12:00 AM:
      %b NOT Available

%h3 Tuesday
%ul#details  
  %li
    -if @availability.tuesday_first
      12:00 AM - 8:00 AM:
      %b Available
    -else
      12:00 AM - 8:00 AM:
      %b NOT Available
  %li
    -if @availability.tuesday_second
      8:00 AM - 4:00 PM:
      %b Available
    -else
      8:00 AM - 4:00 PM:
      %b NOT Available
  %li
    -if @availability.tuesday_third
      4:00 PM - 12:00 AM:
      %b Available
    -else
      4:00 PM - 12:00 AM:
      %b NOT Available
   
%h3 Wednesday
%ul#details
  %li
    -if @availability.wednesday_first 
      12:00 AM - 8:00 AM:
      %b Available
    -else
      12:00 AM - 8:00 AM:
      %b NOT Available
  %li
    -if @availability.wednesday_second 
      8:00 AM - 4:00 PM:
      %b Available
    -else
      8:00 AM - 4:00 PM:
      %b NOT Available
  %li
    -if @availability.wednesday_third 
      4:00 PM - 12:00 AM:
      %b Available
    -else
      4:00 PM - 12:00 AM:
      %b NOT Available

%h3 Thursday
%ul#details
  %li
    -if @availability.thursday_first 
      12:00 AM - 8:00 AM:
      %b Available
    -else
      12:00 AM - 8:00 AM:
      %b NOT Available
  %li
    -if @availability.thursday_second 
      8:00 AM - 4:00 PM:
      %b Available
    -else
      8:00 AM - 4:00 PM:
      %b NOT Available
  %li
    -if @availability.thursday_third 
      4:00 PM - 12:00 AM:
      %b Available
    -else
      Thursday 4:00 PM - 12:00 AM:
      %b NOT Available

%h3 Friday
%ul#details
  %li
    -if @availability.friday_first 
      12:00 AM - 8:00 AM:
      %b Available
    -else
      12:00 AM - 8:00 AM:
      %b NOT Available
  %li
    -if @availability.friday_second 
      8:00 AM - 4:00 PM:
      %b Available
    -else
      8:00 AM - 4:00 PM:
      %b NOT Available
  %li
    -if @availability.friday_third 
      4:00 PM - 12:00 AM:
      %b Available
    -else
      4:00 PM - 12:00 AM:
      %b NOT Available
 
%h3 Saturday     
%ul#details
  %li
    -if @availability.saturday_first 
      12:00 AM - 8:00 AM:
      %b Available
    -else
      12:00 AM - 8:00 AM:
      %b NOT Available
  %li
    -if @availability.saturday_second 
      8:00 AM - 4:00 PM:
      %b Available
    -else
      8:00 AM - 4:00 PM:
      %b NOT Available
  %li
    -if @availability.saturday_third 
      4:00 PM - 12:00 AM:
      %b Available
    -else
      4:00 PM - 12:00 AM:
      %b NOT Available
      
%ul#details
  %li
    -if @availability.sunday_first 
      12:00 AM - 8:00 AM:
      %b Available
    -else
      12:00 AM - 8:00 AM:
      %b NOT Available
  %li
    -if @availability.sunday_second 
      8:00 AM - 4:00 PM:
      %b Available
    -else
      8:00 AM - 4:00 PM:
      %b NOT Available
  %li
    -if @availability.sunday_third 
      4:00 PM - 12:00 AM:
      %b Available
    -else
      4:00 PM - 12:00 AM:
      %b NOT Available

%div
  -if !(@current_user.user_administrator)
    = link_to 'Go back', employee_session_path(@current_user)
  -else
    = link_to 'Go back to All Employees', administrator_user_path(@current_user)
    
