-# app/views/availabilities/show.html.haml

%h1 #{@user.user_first_name} #{@user.user_last_name}'s availability

%ul#details
  %li
    User ID: #{@user.user_id}
  %li
    User Priority Level: #{@user.user_priority}
  %li
  
  %li
    -if @availability.monday_first
      Monday 12:00 AM - 8:00 AM: Available
    -else
      Monday 12:00 AM - 8:00 AM: NOT Available
  %li
    -if @availability.monday_second
      Monday 8:00 AM - 4:00 PM: Available
    -else
      Monday 8:00 AM - 4:00 PM: NOT Available
  %li
    -if @availability.monday_third
      Monday 4:00 PM - 12:00 AM: Available
    -else
      Monday 4:00 PM - 12:00 AM: NOT Available

  %li
  
  %li
    -if @availability.tuesday_first
      Tuesday 12:00 AM - 8:00 AM: Available
    -else
      Tuesday 12:00 AM - 8:00 AM: NOT Available
  %li
    -if @availability.tuesday_second
      Tuesday 8:00 AM - 4:00 PM: Available
    -else
      Tuesday 8:00 AM - 4:00 PM: NOT Available
  %li
    -if @availability.tuesday_third
      Tuesday 4:00 PM - 12:00 AM: Available
    -else
      Tuesday 4:00 PM - 12:00 AM: NOT Available
      
  %li
  
  %li
    -if @availability.wednesday_first 
      Wednesday 12:00 AM - 8:00 AM: Available
    -else
      Wednesday 12:00 AM - 8:00 AM: NOT Available
  %li
    -if @availability.wednesday_second 
      Wednesday 8:00 AM - 4:00 PM: Available
    -else
      Wednesday 8:00 AM - 4:00 PM: NOT Available
  %li
    -if @availability.wednesday_third 
      Wednesday 4:00 PM - 12:00 AM: Available
    -else
      Wednesday 4:00 PM - 12:00 AM: NOT Available

  %li
  
  %li
    -if @availability.thursday_first 
      Thursday 12:00 AM - 8:00 AM: Available
    -else
      Thursday 12:00 AM - 8:00 AM: NOT Available
  %li
    -if @availability.thursday_second 
      Thursday 8:00 AM - 4:00 PM: Available
    -else
      Thursday 8:00 AM - 4:00 PM: NOT Available
  %li
    -if @availability.thursday_third 
      Thursday 4:00 PM - 12:00 AM: Available
    -else
      Thursday 4:00 PM - 12:00 AM: NOT Available

  %li
  
  %li
    -if @availability.friday_first 
      Friday 12:00 AM - 8:00 AM: Available
    -else
      Friday 12:00 AM - 8:00 AM: NOT Available
  %li
    -if @availability.friday_second 
      Friday 8:00 AM - 4:00 PM: Available
    -else
      Friday 8:00 AM - 4:00 PM: NOT Available
  %li
    -if @availability.friday_third 
      Friday 4:00 PM - 12:00 AM: Available
    -else
      Friday 4:00 PM - 12:00 AM: NOT Available
      
  %li
  
  %li
    -if @availability.saturday_first 
      Saturday 12:00 AM - 8:00 AM: Available
    -else
      Saturday 12:00 AM - 8:00 AM: NOT Available
  %li
    -if @availability.saturday_second 
      Saturday 8:00 AM - 4:00 PM: Available
    -else
      Saturday 8:00 AM - 4:00 PM: NOT Available
  %li
    -if @availability.saturday_third 
      Saturday 4:00 PM - 12:00 AM: Available
    -else
      Saturday 4:00 PM - 12:00 AM: NOT Available
      
  %li
  
  %li
    -if @availability.sunday_first 
      Sunday 12:00 AM - 8:00 AM: Available
    -else
      Sunday 12:00 AM - 8:00 AM: NOT Available
  %li
    -if @availability.sunday_second 
      Sunday 8:00 AM - 4:00 PM: Available
    -else
      Sunday 8:00 AM - 4:00 PM: NOT Available
  %li
    -if @availability.sunday_third 
      Sunday 4:00 PM - 12:00 AM: Available
    -else
      Sunday 4:00 PM - 12:00 AM: NOT Available

%div
  -if !(@current_user.user_administrator)
    = link_to 'Go back', employee_session_path(@current_user)
  -else
    = link_to 'Go back to All Employees', administrator_user_path(@current_user)
    
