-# app/views/availabilities/show.html.haml

%h1 #{@user.user_first_name} #{@user.user_last_name}'s availability

%ul#details
  %li
    User ID: #{@user.user_id}
  %li
    User Priority Level: #{@user.user_priority}
  %li
    Monday 12:00 AM - 8:00 AM: #{@availability.monday_first}
  %li
    Monday 8:00 AM - 4:00 PM: #{@availability.monday_second}
  %li
    Monday 4:00 PM - 12:00 AM: #{@availability.monday_third}
  %li
    Tuesday 12:00 AM - 8:00 AM: #{@availability.tuesday_first}
  %li
    Tuesday 8:00 AM - 4:00 PM: #{@availability.tuesday_second}
  %li
    Tuesday 4:00 PM - 12:00 AM: #{@availability.tuesday_third}
  %li
    Wednesday 12:00 AM - 8:00 AM: #{@availability.wednesday_first}
  %li
    Wednesday 8:00 AM - 4:00 PM: #{@availability.wednesday_second}
  %li
    Wednesday 4:00 PM - 12:00 AM: #{@availability.wednesday_third}
  %li
    Thursday 12:00 AM - 8:00 AM: #{@availability.thursday_first}
  %li
    Thursday 8:00 AM - 4:00 PM: #{@availability.thursday_second}
  %li
    Thursday 4:00 PM - 12:00 AM: #{@availability.thursday_third}
  %li
    Friday 12:00 AM - 8:00 AM: #{@availability.friday_first}
  %li
    Friday 8:00 AM - 4:00 PM: #{@availability.friday_second}
  %li
    Friday 4:00 PM - 12:00 AM: #{@availability.friday_third}
  %li
    Saturday 12:00 AM - 8:00 AM: #{@availability.saturday_first}
  %li
    Saturday 8:00 AM - 4:00 PM: #{@availability.saturday_second}
  %li
    Saturday 4:00 PM - 12:00 AM: #{@availability.saturday_third}
  %li
    Sunday 12:00 AM - 8:00 AM: #{@availability.sunday_first}
  %li
    Sunday 8:00 AM - 4:00 PM: #{@availability.sunday_second}
  %li
    Sunday 4:00 PM - 12:00 AM: #{@availability.sunday_third}
   


%div
  -if @current_user.user_administrator == false
    = link_to 'Go back', employee_session_path(@current_user)
  -else
    = link_to 'Go back to All Employees', administrator_user_path(@current_user)
    
